*{
    margin: 0;
    text-align: center;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    
}
.form-container{
    background-color: rgba(59, 109, 179, 0.87);
    height: 300px;
    width: 600px;
    border: 2px solid rgba(89, 154, 5, 0.912);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10%;
    margin-top: 6%;
}
@media(max-width:900px){
.form-container{
    background-color: rgba(59, 109, 179, 0.87);
    height: 350px;
    width: 300px;
    border: 2px solid rgba(89, 154, 5, 0.912);
    margin-left: 15%;
    margin-right: 50%;
    border-radius: 0%;
    margin-top: 0%;
}
}
* {
    background-repeat: no-repeat !important;
    background-size: cover;
    
    }
.background-container{
        background-image: url("../background.png");
        height: 1000px;
        width: 130%;
        background-position: -160px 0px; 
        /* x and Y axis */
}
@media(min-width:1260px){
.background-container{
        background-image: url("../background.png");
        background-position: -335px 0px; 
}
}
.container{
        display: flex;
        margin-bottom: 50px;
}
.container img{
        height: 50px;
        margin-left: 20px;
        margin-top: 20px;
}
.solution-container{
    background-color: rgb(232, 232, 232);
    height: 50px;
    width: 60%;
    margin: auto;
    margin-top: 10%;
}
.input-container{
    margin: auto;
    margin-top: 5%;
}
form button{
    height: 40px;
    width: 120px;
    border: 1px solid rgb(148, 148, 148);
    background-color: rgb(36, 36, 36);
    color: rgb(222, 222, 222);
    margin-top: 50px;
}
form input,
form select{
    background-color: rgb(232, 232, 232);
    height: 25px;
    border: none;
}
@media(max-width:900px){
form input,
form select{
    margin-top: 20px;
} 
}
h1{
    font-size: 50px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    color: rgba(156, 207, 255, 0.911);
    border: 1px solid rgb(185, 222, 255);
    background-color: rgba(116, 177, 19, 0.83);
    margin-top: 20px;
    padding: 15px;
}
@media (max-width:900px) {  
h1{
    font-size: 40px;
    text-align: center;
    padding: 15px;
    color: rgba(156, 207, 255, 0.911);
    border: 1px solid rgb(185, 222, 255);
    background-color: rgba(116, 177, 19, 0.83);
    margin-top: 20px;
    margin-left: 18%;
    margin-right: 50%;
}
}
.flex-box{
    display: flex;
    flex-direction: row;
}
@media(max-width:875px){
.flex-box{
    display: flex;
    flex-direction: column;
}
}
.th-container {
    height: 300px;
    width: 35px;

    margin: auto;
    margin-top: 73px;
    padding-top: 0px;
    padding-bottom: 82px;
    border-radius: 20%;
}

@media(max-width:900px){
.th-container {
display: flex;
flex-direction: row-reverse;
width: 300px ;
height: 0px;
margin: auto;
margin-top: 20px;
padding-top: 0px;
padding-bottom: 82px;
border-radius: 20%;
margin-left: 15%;
margin-right: 50%;
}
}

.th2, .th3, .th4,
.th5, .th6{
    height: 25%;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.621);
}
.th2{
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
}
.th6{
    border-top-left-radius: 24%;
    border-top-right-radius: 24%;
    
}
@media(max-width:900px){
.th2{
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 0%;
}
}

@media(max-width:900px){
.th6{
    border-top-left-radius: 0%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 0%;
}
}

@media(max-width:900px){
    .th2, .th3, .th4,
    .th5, .th6 {
    width:  25%;
    height: 30px !important;
    background-color: rgba(255, 255, 255, 0.621);
    }
    }
@media(max-width:900px){
    input{
        width: 110px;
        margin-right: 24px;
    }
}
@media(max-width:900px){
    .background-container{
        background-size: 250%;
        background-position: -520px 0px !important; 
    
    }
}
@media(max-width:900px){
    .aut, .snow{
        background-size: 290%;
        background-position: -520px 0px !important; 
    
    }
}

/* below is for the practice above is for homework */
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
#notifications{
    font-size: 12px;
}
.login{
    background-color: rgb(159, 159, 159);
    margin: 10px;
    height: 250px;
    width: 60%;
    padding: 10px ;
}
.login input{
    display: block;
    margin: 20px;
    width: 76%;
    padding: 10px;
    font-size: 10px;
    margin-left: 10%;

}
.login button{
    display: block;
    background-color: black;
    color: rgb(235, 235, 235);
    border: none;
    padding: 10px;
    width: 80%;
    margin: 20px;
    margin-left: 10%;
}

