*{
    margin: 0;
    text-align: center;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    
}
.form-container{
    background-color: gray;
    height: 300px;
    width: 600px;
    border: 1px solid black;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10%;
}
* {
    background-repeat: no-repeat !important;
    background-size: cover;
    
    }
.background-container{
        background-image: url("../background.png");
        height: 1000px;
        width: 130%;
        background-position: -295px 0px; 
        /* x and Y axis */


}
.container{
        display: flex;
        margin-bottom: 50px;
}
.container img{
        height: 50px;
        margin-left: 20px;
        margin-top: 20px;
}








/* below is for the practice above is for homework */
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
#notifications{
    font-size: 12px;
}
.login{
    background-color: rgb(159, 159, 159);
    margin: 10px;
    height: 250px;
    width: 60%;
    padding: 10px ;
}
.login input{
    display: block;
    margin: 20px;
    width: 76%;
    padding: 10px;
    font-size: 10px;
    margin-left: 10%;

}
.login button{
    display: block;
    background-color: black;
    color: rgb(235, 235, 235);
    border: none;
    padding: 10px;
    width: 80%;
    margin: 20px;
    margin-left: 10%;
}